%ul.nav.nav-pills
  = nav_link 'Home', root_path
  = nav_link 'Dump', dump_edit_path
  = nav_link 'Services', services_index_path
  = nav_link 'Payments', payments_path
  = nav_link 'Logout', sign_out_path, :delete
